//-----------------------------------------------
//-     Basic Modules
//-----------------------------------------------
include _background
include _section


//-----------------------------------------------
//-     Global  Variables
//-----------------------------------------------
block variables
  - var ATTRS_HTML = {lang:'en-US', dir: 'ltr'};
  - var title = 'ZiON - Create beautiful user interfaces. Intuitively.';
  - var ATTRS_BODY = {};
  - var ATTRS_MAIN = {};
  
  

  
  doctype html
  html()&attributes(ATTRS_HTML)
      head
        
        block meta
          meta(charset='utf-8')
          meta(http-equiv='X-UA-Compatible', content='IE=edge')
          meta(name='viewport', content='width=device-width, initial-scale=1')
        
        
        = '\n\n'
        //===============================================
        //    Document Title
        //===============================================
        title=title
        
        
        = '\n\n'  
        //===============================================
        //    Favicons
        //===============================================
        block favicon
          link(rel="apple-touch-icon", sizes="180x180", href="images/favicons/apple-touch-icon.png")
          link(rel="icon", type="image/png", sizes="32x32", href="images/favicons/favicon-32x32.png")
          link(rel="icon", type="image/png", sizes="16x16", href="images/favicons/favicon-16x16.png")
          link(rel="shortcut icon", type="image/x-icon", href="images/favicons/favicon.ico")
          link(rel="manifest", href="images/favicons/manifest.json")
          link(rel="mask-icon", href="images/favicons/safari-pinned-tab.svg", color="#5bbad5")
          meta(name='msapplication-TileImage', content='images/favicons/mstile-150x150.png')
          meta(name="theme-color", content="#ffffff")
        


        = '\n\n'
        //===============================================
        //    Stylesheets
        //===============================================
        
        block styles
          link(href='css/style.css', rel='stylesheet')
        = '\n'





      = '\n\n'
      body()&attributes(ATTRS_BODY)
          
          block beforeContent
          
          = '\n'
          //===============================================
          //    Main Content
          //===============================================
          main()&attributes(ATTRS_MAIN)
            block content
            = '\n\n'

          block afterContent
          
          = '\n\n'
          //===============================================
          //    JavaScripts
          //===============================================
          block scripts
            script(src='js/main.js')
          = '\n'
