extends _skeleton

block content
  //- | test
  +section({
    image: 'http://img.youtube.com/vi/_38JDGnr0vA/maxresdefault.jpg',
    youtube:{
      videoURL:'https://www.youtube.com/watch?v=_38JDGnr0vA', 
      startAt:7, 
      stopAt:287
      }
    })(style=`height:80vh; 
              width:80vw; 
              height:80vh;
              margin: auto; 
              position: relative;`)
